[Desktop Entry]
GenericName=Thrifty
Exec=/usr/bin/thrifty-gui
GenericName[ru]=Утилита для архивирования и очистки "не-пакетных" файлов
Icon=thrifty
Name=Thrifty
NoDisplay=false
Type=Application
Categories=Utility;
StartupNotify=true
Terminal=false
X-KDE-SubstituteUID=false
X-KDE-Username=
